@charset "utf-8";
/* CSS Document */
*{
  margin:0px;
  border:0px;
  padding:0px;
}
body{
  background:url(../images/bg.png) repeat;
}
.margin {
  margin:20px 0px 0px 40px;
}
.fl {
  float:left;
}
.fr{
  float:right;
}
.container {
  width:1920px;
}
.main {
  width:960px;
  height:930px;
  background-image:url(../images/index.png);
}
.left{
  width:480px;
  height:498px;
  margin-top:80px;
  background-image:url(../images/left.png);
}
.right{
  width:480px;
  height:498px;
  margin-top:80px;
  background-image:url(../images/right.png);
}
.footer {
  width:1920px;
  height:20px;
  text-align:center;
}
