@charset "utf-8";

body { background:url(../images/bg.png) repeat; } /* 这是body背景图片平铺 */
.wrapper { width: 100% } /* 这样修饰图片就可以适应屏幕分辨率了 */
.wrap { width: 980px; margin: 0 auto; } /* 这样内容的宽度就固定了 */
#header{height: 80px;}
#banner { height: 498px; background:url(../images/banner.png) no-repeat center; } /* 这就是banner背景图片居中显示 */
